@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<h2>
    Since 1867, The United States Playing Card Company
    has led the world in designing and manufacturing quality playing cards
</h2>

<p>
    That year, we began with just 20 people working together to produce 1,600 packs of cards a day,
    including the artistic and decorative Congress line.
</p>

<p>
    Although we’re proud of our heritage, we’re even more excited about our future.
    Our cards can be found in the emerging table-top gaming markets and are staples in the world’s most prestigious casinos.
    We’re leveraging the latest technologies to create cards that are more durable and
    tamper-proof—we’ve even developed flameproof cards astronauts can play in space.
</p>

<p>
    But no matter where our spirit of innovation takes us,
    we’ll always cherish the part we play as a uniquely American brand,
    standing ready whenever and wherever people come together for a game of cards.
</p>